header#main-header
  nav.navbar.navbar-expand-sm.navbar-light.bg-white#main-navbar
    .container
      a.navbar-brand(href="#")
        | My App
      ul.navbar-nav.ml-auto.p-2
        li.nav-item.active
          a.nav-link.btn.btn-clear(href="#home") Home
        li.nav-item.active
          a.nav-link.btn.btn-clear(href="#contact") Contact
